@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500&display=swap');

/*INDEX*/
:root {
    --main: #fff700;
    --title: #1677ab;
}

*{
    margin:0;
    padding:0;
    font-family: 'Exo 2', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*NAVBAR*/

.collapse .navbar-nav .nav-item .nav-link, .sidebar .sidebar-nav .nav-item .nav-link{
    color: var(--main);
}

.collapse .navbar-nav .nav-item .nav-link:hover, .sidebar .sidebar-nav .nav-item .nav-link:hover{
    color: var(--title);
}

/*HEADER*/

header{
    margin-top: 76px;
    min-height: calc(100vh - 76px);
    --overlay: rgba(244, 244, 244, 0.5);
    background: linear-gradient(var(--overlay), var(--overlay)), url("../img/logo.png") no-repeat center;
}

.header-container{
    display: flex;
    justify-content: center;
}

.description {
    margin-top: 50px;
}

.description h1{
    font-size: 2.5em;
    color: var(--title);
}

.description p{
    font-size: 1.2em;
    color: #666;
}

.copy{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

/*TEAM*/

#team h2{
    text-align: center;
    margin-top: 1rem;
    color: var(--title);
}

.container-fluid{
    margin-top: 4rem;
}

.flipper{
    perspective: 1000px;
    padding: 1.4rem 0;
}

.team-card{
    text-align: center;
    transition: 0.6s;
    transform-style: preserve-3d;
    border: 3px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
}

.flipper.flip .team-card {
    transform: rotateY(180deg);
}

.front, .back {
    width: 100%;
    padding: 1rem;
    backface-visibility: hidden;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.front h3{
    font-size: 1.25rem;
}

.front img, .front h3, .back h3{
    margin-top: 1rem;
}

.front img{
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.container{
    height: 190px;
    overflow: auto;
}

.container::-webkit-scrollbar{
    display: none;
}

.palmares{
    margin: 0 5px;
}

.back i{
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-color: var(--title);
    font-size: 2rem;
    line-height: 1.5;
}

#gold{
    color: #d4af37;
}

#silver{
    color: #c0c0c0;
}

#bronze{
    color: #cd7f32;
}

#trophy{
    color: #771cdc;
}

#none{
    color: #ff0000;
}

/*FOOTER*/

footer{
    padding: 1rem;
}

.footer-item h3{
    color: #fff;
}

.footer-item p{
    color: #ddd;
}

.footer-item a{
    color: var(--main);
}

.footer-item a:hover{
    color: var(--title);
}

/*RULES*/

#rules{
    width: 90%;
    margin: 100px auto;
}

#rules p{
    margin-left: 40px;
}
